body{
    margin: 0%;
    background-color:#fff2cc;
}
.header{
    background-color:#fff2cc;
/*     padding-bottom: 30px; */
    padding-left:230px ;

}
.header div{
    display: inline-block;
/*     background-color:#fff2cc ;
    display: inline-block;
    padding-left: 30px ; */
} 
.logo{
    background-color:#fff2cc ;
    display: inline-block;
    /* padding-left:130px ; */
    margin-top: 15px;

}

.contact{
    background-color:#fff2cc ;
    display: inline-block;
    padding: 30px ;
}
.call-icon{
    padding-left: 160px;
    display: inline-block;
 }
.contact-text{
    width:5hv;
    height: 5hv;
    display: inline-block;
    color:#021168;
    font-family: 'Times New Roman', Times, serif;
}
.time{

    background-color:#fff2cc ;
    display: inline-block;
}
.clock-icon{
    display: inline-block;
    padding-right: 2px;
}

.clock-text{
    width:5hv;
    height: 5hv;
    display: inline-block;
    color:#021168;
}
.email{

    background-color:#fff2cc ;
    display: inline-block;
    padding-left: 30px;
}
.email-icon{
    display: inline-block;
    padding-right: 2px;
    color: #021168;
}

.email-text{
    width:5hv;
    height: 5hv;
    display: inline-block;
    color:#021168;
}

.nav div{
    display: inline-block;
    margin-right: 15px;

}
.nav{
    background-color:#021168;
    margin-left:230px ;
    margin-right:390px ;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    position: relative;
    
    
}

.custom-button {
    background-color: #ffa9a9;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    margin-left: 25px;
  }

  .imagee img{
    margin-top: -30px;
    margin-bottom: -50px;
  }

 /*  .image-text{
    z-index: 2;
    position: relative;
     background-color: aqua;
     display: inline-block;
     margin-top:-50px ;
  }
 */
.images3 div{
    display: inline-block;
    background-color: #fff;
    width: 300px;
    height: 150px;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.i1{
  margin: 20px;
  margin-left: 120px;

}
.i2{
    margin: 20px;
}
.i3{
    margin: 20px;
    margin-right: 120px;
}

.bottom{
    display: inline-block;
}
.bottom-left{
    margin-top:40px ;
    margin-bottom: 30px;
   
}
.bottom-left2{
    margin-left: 80px;
}
.bottom-mid{
    margin-top: -90px;
    margin-left: 40px;
    margin-bottom: 40px;
    display: inline-block;
}
.bottom-right{
    display: inline-block;
    padding-left: 250px;
    margin-bottom: -500px;
    position: absolute;
    font-size: larger;
    line-height: 7px;
    font-weight: lighter;
    margin-top: 90px;
    
}
p{
    line-height: normal;
    padding-left: 50px;
    padding-right: 70px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

.custom-button2{
    background-color: #ffa9a9;
    color: white;
    padding: 10px 20px;
    margin:15px 50px ;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
  }

 
.custom-button2:hover {
    background-color:  #ff7070;
  }


  .custom-button:hover {
    background-color: #ff7070; 
  }
